<div class="big-divider"></div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
			<h1 class="text-center companyshow-text">
				About Us
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 text-center form-container">
	 		<h3> Hi there!</h3>
	 		<h4> Our team came up with this app for our final group project.</h4>
	 		<h4> We hope you like what you see!</h4>
	 		<div class="spacing"></div>
		</div>
	</div>
</div>