<div class="big-divider"></div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
			<h1 class="text-center whitetoblack">
				About Us
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 text-center form-container">
	 		<h4> Hi this the app our team came up with for our final group project. We hope you like what you see!</h4>
		</div>
	</div>
</div>