<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
			<h2 class="text-center">
				Your one stop platform to help your small business grow!
			</h2>
		</div>
	</div>
</div>