<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
			<div id="welcome_tweet_app">
				<p class="header-name">Welcome to Gift2Grow</p><br>
				<p id="app_tweet">Create Value, Accelerate Growth!</p>

			</div>
		</div>
	</div>
</div>

<section class="text-center section-padding" id="services">
<div class="container">
<div class="row">
<h1>Our Services</h1><br><br><br>
<div class="services-wrapper">
<div class="col-md-4 wp2">
<div class="light-box box-hover">
<div class="icon">
<img src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/email-download-icon.png" width="100" height="100" alt="GetMoreEmail">
<br>
</div>
<br>
<h2>Increase Your Email List</h2>
<p>Get more customer by using our app!,....</p>
</div>
</div>
<div class="col-md-4 wp2 delay-05s">
<div class="light-box box-hover">
<div class="icon">
<img src="http://www.prediti.com/images/home/benefits--4.png" width="100" height="100" alt="AddFeatures">
<br>
</div>
<br>
<h2>Make Additional Revenue</h2>
<p>bla3...</p>
</div>
</div>
<div class="col-md-4 wp2 delay-1s">
<div class="light-box box-hover">
<div class="icon">
<img src="http://reflectiveteens.com/wp-content/themes/mh-purity-lite/assets/images/Brand_Ambassadors-icon.png" width="100" height="100" alt="DevelopAwareness">
<br>
</div>
<br>
<h2>Develop Awareness</h2>
<p>next2...</p>
</div>
</div>
</div>
</div>
</div>
</section>
