<div class="container-fluid">
	<div class="medium-divider"></div>
	<div class="row">
		<div clas="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
			<div class="ribbon">
	 			<div class="medallion"></div>
	 			<div class="ribbon-1">
	    		<span class="inner">
	        	<span class="fadeLeft">Welcome</span>
	    		</span>
	  		</div>
	  		<div class="ribbon-2">
	    		<span class="inner">
	        	<span class="fadeRight">Gift2Grow</span>
	    		</span>
	  		</div>
				<div class="ribbon-3">
	    		<span class="inner">
	        	<span class="fadeLeft">Create Value . Accelerate Growth . </span>
	    		</span>
	  		</div>
				<div class="ball fadeIn">
					<a href="/companies/new">
		    		<span class="ball-text">
		          <strong>TRY IT</strong>
		          NOW
		        </span>
		      </a>
	  		</div>
			</div>
		</div>
	</div>
	<div class="big-divider"></div>
	<div class="row">
		<div class="col-md-12 col-xs-12 form-container-borderless" style="border-radius: 0px;">
			<p id="app_tweet">Your one stop platform to help your business grow!</p>
		</div>
	</div>
</div>
<div class= container-fluid style="background-color: #380947;">
	<div class="row">
		<h1 class="text-center">
			Our Services
		</h1>
	</div>
	<div class="spacing"></div>
	<div class="row">
		<div class="col-md-4 col-xs-4 text-center">
			<img src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/email-download-icon.png" width="100" height="100" alt="GetMoreEmail">
		</div>
		<div class="col-md-4 col-xs-4 text-center">
			<img src="http://www.prediti.com/images/home/benefits--4.png" width="100" height="100" alt="AddFeatures">
		</div>
		<div class="col-md-4 col-xs-4 text-center">
			<img src="http://reflectiveteens.com/wp-content/themes/mh-purity-lite/assets/images/Brand_Ambassadors-icon.png" width="100" height="100" alt="DevelopAwareness">
		</div>
	</div>
	<div class="spacing"></div>
	<div class="row">
		<div class="col-md-4 col-xs-4">
			<h2 class="text-center">
				Expand Your Email List
			</h2>
		</div>
		<div class="col-md-4 col-xs-4">
			<h2 class="text-center">
			 	Earn Additional Revenue
			</h2>
		</div>
		<div class="col-md-4 col-xs-4">
			<h2 class="text-center">
				Go Viral
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-xs-4">
			<p class="text-center">
				Reach Out To More People Than You Thought Possible
			</p>
		</div>
		<div class="col-md-4 col-xs-4">
			<p class="text-center">
				Add Value To Your Customers And Your Business
			</p>
		</div>
		<div class="col-md-4 col-xs-4">
			<p class="text-center">
				Be The Next Big Topic On The Internet
			</p>
		</div>
	</div>
	<div class="spacing"></div>
</div>
<div class="big-divider"></div>


