<div class= "container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-8  col-xs-offset-2">
			<h1 class="companyshow-text text-center"> All Companies with G2G </h1>
		</div>
	</div>
	<div class="form-container">
	<table align="center">
			<tr>
				<th class="title"> Name </th>
				<th class="title"> Role </th>
				<th></th>
				<th></th>
			</tr>
				<% @companies.each do |company|%>
			<tr>
				<td><%= company.name %></td>
				<td><%= company.role %></td><td><%= link_to "Edit", edit_company_path(company.id) %></td>
				<td><%= link_to "Delete", company_path(company.id), data: { confirm: 'Are you sure?' }, method: :delete  %> </td>
			</tr>
				<% end %>
	</table>
	</div>
	<div class="halfpage-divider">
	</div>
</div>
