<div class="container-fluid">
	<div class="row">
	 <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
	 	<h1>
	 		Edit your giveaway.
	 	</h1>
	 </div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
			<%= render "form" %>
			<%= link_to "Delete", company_giveaway_path(@company, @giveaway), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-default mainbutton2-5" %>
		</div>
	</div>
</div>