<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-ms-offset-2 col-xs-8 col-xs-offset-2">
			<h1 class="text-center">
				Your Dashboard
			</h1>
		</div>
	</div>

	<div id="company-profile">
		<div class="row">
			<div class="col-md"
		</div>
	</div>

	<div id="statistic-windows">
	</div>


	<div id="giveaways-window">
	</div>

</div>