<div class="container-fluid">

	<div class="row">
	 <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
      <h1 class="companyshow-text">
        Create a new giveaway now!
      </h1> 
	 </div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
			<%= render "form" %>
		</div>
	</div>
</div>