// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.title {
	font-size: 16px;
	color: grey;
	margin-bottom: 0px;
}

.info {
	font-size: 17px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
}

.mainbutton {
	font-weight: bold;
	font-size: 18px;
	background-color: #29E4B9;
	color: white;
	width: 49%;
	margin: auto;
	border: none;
}


.mainbutton1 {
	color: white;
	font-weight: bold;
	font-size: 18px;
	background-color: #29E4B9;
	border: none;
}

.mainbutton1:hover {
	font-weight: bold;
	font-size: 18px;
	background-color: lightgrey;
	color: grey;
	border: none;
}

.mainbutton2 {
	font-weight: bold;
	font-size: 18px;
	background-color: white;
	color: grey;
	width: 49%;
	margin: auto;
}

.mainbutton2-5 {
	font-weight: bold;
	font-size: 18px;
	background-color: white;
	color: grey;
	width: 18%;
}



.form-control {
	color: black;
}

tr {
	border-bottom: 1px solid lightgrey;
}

td {
	padding: 10px;
	text-align: left;
}

th {
	padding: 10px;
	text-align: left;
	color: grey;
	font-size: 16px;
	width: 30%;
}

