// Place all the styles related to the giveaways_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#giveaways-ongoing {
	height: 450px;
	width: 49.5%;
	border: grey 1px solid;
	float: left;
	border-radius: 8px;
	
};

#giveaways-finished {
	height: 450px;
	width: 49.5%;
	border: grey 1px solid;
	float: right;
	border-radius: 8px;

};

.empty {
	color: lightgrey;
}

.header {
	background-color: #29E4B9;
	width: 100%;
	border-radius: 8px;
}

.headertitle {
	margin-top: 10px;
	margin-botton: 10px;
	font-size: 20px;
	color: white;
	font-weight: bold;
}

.dashtitle {
	font-size: 16px;
	color: grey;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

.dashanswer {
	font-size: 16px;
	color: black;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

a:link, a:visited {
	color: #808EA2;
	text-decoration: none;
}

a:hover {
	color: #EC4D82;
	text-decoration: none;
}

.form-group {
	color: grey;
}