// Place all the styles related to the giveaways_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#company-profile {
	height: 200px;
	width: 50%;
	border: 1px black solid;
	float: left;
};

#statistic-windows {
	height: 200px;
	width: 50%;
	border: 1px black solid;
	float: right;
};