// Place all the styles related to the giveaways_controller controller here. color: #808EA2;
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#giveaways-ongoing {
	height: 450px;
	width: 49.5%;
	border: grey 1px solid;
	float: left;
	border-radius: 8px;
};

#giveaways-finished {
	height: 450px;
	width: 49.5%;
	border: grey 1px solid;
	float: right;
	border-radius: 8px;

};

.empty {
	color: lightgrey;
};

.header {
	background-color: #B3185E;
	width: 100%;
	border-radius: 8px;
};

.headertitle {
	font-family:'Oswald', Georgia, Times, serif;
	margin-top: 10px;
	margin-botton: 10px;
	font-size: 20px;
	color: white;
	font-weight: bold;
};

.dashtitle {
  font-size: 15px;
	color: grey;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-right: 1px;
	padding-left: 1px;
};


.header-name {
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 50px;
	line-height: 70px;
	text-align: center;
};

.dashanswer {
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-right: 1px;
	padding-left: 1px;
};

a:hover {
	text-decoration: none;
};

.form-group {
	color: grey;
};


#giveaways {
	height: 600px;
	width: 50%;
	border: grey 1px solid;
	float: left;
	border-radius: 8px;
};

.popup-toggle {
	background-color: red;
};

.popup-text {
	margin-top: 0px;
}

.mainbutton-3 {
	font-weight: bold;
	background-color: white;
	color: grey;
}

.dashboard-content {
	height: 550px;
}

.dashboardTitle {
	font-weight: bold;
	font-size: 25px;
}

.dashboardHeaderDecoration {
	font-weight: bold;
}

.divider {
	height: 1px;
	background-color: grey;
	width: 100%;
}

.black {
	color: black;
}