// Place all the styles related to the giveaways_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#giveaways-ongoing {
	height: 450px;
	width: 49%;
	border: grey 1px solid;
	float: left;
	border-radius: 8px;
};

#giveaways-finished {
	height: 450px;
	width: 49%;
	border: grey 1px solid;
	float: right;
	border-radius: 8px;

};

.empty {
	color: lightgrey;
}

.header {
	background-color: #29E4B9;
	width: 100%;
	border-radius: 8px;
}

.headertitle {
	margin-top: 10px;
	margin-botton: 10px;
	font-size: 20px;
	color: white;
	font-weight: bold;
}

.dashtitle {
	font-size: 20px;
	color: grey
}


.header-name {
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 50px;
	line-height: 70px;
	text-align: center;
   
}