// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#app_tweet {
  font-family: 'Oswald', Georgia, Times, serif;
  text-transform: uppercase;
	font-size: 50px;
	font-style: italic;
	line-height: 80px;
	text-align: center;
	color: #B3185E;
	top: 300px;
}


.icon {
    position: center;
    top: 300px;
}

#welcome_tweet_app {
	position: relative;
	top: 30px;
	height: 600px;
}

#services {
	height: 550px;
}

.container {
	// background: url() repeat;
	width: 100%;
    border: 2px solid black;
	// margin: 30px;
	// height: 400px;
    background-color: #380947;
    border: 1px solid black;
}

h1 {
	 font-family: 'Oswald', Georgia, serif;
	 font-size: 50px;
	 font-weight: bold;
    color: white;
}

.whitetoblack {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 50px;
    color: #B3185E;
 }

h2 {
	font-size: 25px;
	color: white;
}

p {
	font-size: 15px;
	color: white;
}

.small-divider {
	height: 25px;
}

.medium-divider {
	height: 75px;
}

.big-divider {
	height: 150px;
}

.mega-divider {
	height: 500px;
}

.middle {
	margin-top: 25px;
}
